@tailwind base;
@tailwind components;
@tailwind utilities;

@import "fonts/stylesheet.css";
@import 'hamburgers/hamburgers.scss';
@import 'hamburgers/_base.scss';
@import "fonts/stylesheet.css";

[x-cloak] {
    display: none;
}
.bdi-local-activation-menu--main a.bdi-local-activation-skip-link {
    position: absolute;
    z-index: -1;
}
.bdi-local-activation-menu--main a.bdi-local-activation-skip-link:focus-visible,
.bdi-local-activation-menu--main a.bdi-local-activation-skip-link:focus-within {
    z-index: 1;
}


input {
    --tw-ring-shadow: 0 0 transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
    -webkit-text-fill-color: rgb(75 85 99 / var(--tw-text-opacity));
}

html {
    font-size: 16px;
}

body {
    font-size: 16px;
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6{
    @apply font-roboto;
    margin: 0;
    padding: 0;
}

.backgroundpattern{
    background-image: url("/resources/images/pattern.png");
    //background-position: center;
    background-size: 375px 43px;
    background-repeat: repeat-x;
    height: 43px;

    @screen md  {
        background-size: 980px 96px;
        height: 95px;

    }
}
/* -------- HEADER -------- */

div#header {
    z-index: 4;
}

header#duplex-header {
    z-index: 3;
    @apply relative top-[80px] px-[15px] sticky;


    .wrapper-menu {
        .wrapper-mobile {
            @apply flex justify-end items-center;
        }
        #menu-btn {
            @apply block rounded-[8px] bg-orange;
            padding: 5px 9px 3px;
        }
        nav {
            display: none;
            &.active {
                display: block;
                position: absolute;
                right: 15px;
                left: 15px;
                margin: 10px auto 0;
                @apply block rounded-[20px] bg-orange;
                ul.menu-header {
                    @apply rounded-[0px] ;
                }
            }
            ul.menu-header {
                list-style: none;
                margin: 0;
                padding: 25px 0;
                @apply flex items-start flex-col rounded-[90px];

                li {
                    display: block;
                    padding: 15px 0;
                    position: relative;
                    width: 100%;
                    text-align: center;
                    background: linear-gradient(180deg, #2A4B9B 0%, #2A4B9B 100%);
                    @apply border-t-[1px] border-solid border-white rounded-full transition-all ease-in-out duration-0 hover:duration-500;
                    a {
                        @apply text-[18px] leading-[21px] font-hermes;
                        color: rgba(white, 1);
                        text-transform: uppercase;
                        background-color: transparent;
                        cursor: pointer;
                        letter-spacing: 0.15px;
                        text-decoration: none;

                        &:hover {
                            color: rgba(white, 1);
                        }
                    }
                    &:hover{
                        background: linear-gradient(180deg, #FEE900 0%, #F39B00 100%);
                        @apply bg-transparent;
                    }
                }
            }
        }
    }
    @screen md  {
       //top: 70px;
        top: 90px;
        position: sticky;
        .wrapper-menu {
            #menu-btn {
                display: none;
            }
            nav {
                display: block;
                text-align: center;
                &.active {
                    background-color: rgba(#ffffff, 0);
                }
                ul.menu-header {
                    @apply inline-flex justify-center items-center flex-row bg-transparent;
                    margin: 0 auto;
                    padding: 0;
                    li {
                        display: inline-block;
                        padding: 0 10px;
                        @apply border-2 border-solid border-white bg-blue rounded-full mx-2 shadow-menu;
                        width: auto;
                        &:first-child {
                            margin-left: 30px;
                        }
                        &:last-child {
                            margin-right: 30px;
                        }
                        a{
                            display: block;
                            padding: 15px 20px;
                            @apply text-[18px] leading-[21px] drop-shadow-menu;

                        }
                    }
                }
            }
        }
    }
    @screen lg  {
        top: 90px;
        .wrapper-menu {
            //max-width: 970px;
            nav {
                ul.menu-header {
                    li {
                        padding: 0 20px;
                    }
                }
            }
        }
    }
}
/* -------- HEADER -------- */

/* -------- FOOTER -------- */
footer{
    p{
        @apply font-tekoMedium text-[16px] leading-[21px] text-brown;
    }
    nav{
        ul {
            @apply flex justify-center items-center flex-col;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                margin: 5px 0;
                border: none;
                width: auto;
                text-align: center;
                position: relative;
                a{
                    cursor: pointer;
                }
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                    a{
                        &:after{
                            display: none;

                        }
                    }
                }
            }
        }
    }
    @screen lg {
        nav {
            ul {
                @apply flex-row;
                li {
                    display: inline-block;
                    margin: 0 10px;
                    a{
                        text-align: center;
                        &:after{
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}
/* -------- FOOTER -------- */

.checkbox {
    padding-left: 0;

    .wrapper-checkbox {
        .radio-text {
            cursor: pointer;

        }
        input[type="checkbox"] {
            display: none;
            &+label {
                position: relative;
                margin: 3px 10px 0 0;
                padding-left: 0;
                width: auto;
                background-color: transparent;

                &.error {
                    &:before {
                        border: 2px solid theme('colors.error');
                    }
                }

                &:after {
                    display: inline-block;
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    background-color: transparent;
                    content: '';
                    border: 0;

                }
                &:before {
                    content: '';
                    display: inline-block;
                    width: 18px;
                    height: 18px;
                    cursor: pointer;
                    background-color: theme('colors.white');
                    border: 2px solid theme('colors.white');
                    @apply rounded-md;

                }

            }
            &:checked+label {
                &:after {
                    background-color: theme('colors.brown');
                }
                &:before {
                    &+label {}
                }
            }
        }

    }
}

.form-error {
    @apply text-red;
}