@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import "fonts/stylesheet.css";
@import 'hamburgers/hamburgers.scss';
@import 'hamburgers/_base.scss';


@layer utilities {
    .no-ligatures {
        font-feature-settings: 'liga' off, 'clig' off;
    }
}

sapn.sr-only{
    display: none;
}
[x-cloak] {
    display: none;
}
.bdi-local-activation-menu--main a.bdi-local-activation-skip-link {
    position: absolute;
    z-index: -1;
}
.bdi-local-activation-menu--main a.bdi-local-activation-skip-link:focus-visible,
.bdi-local-activation-menu--main a.bdi-local-activation-skip-link:focus-within {
    z-index: 1;
}



input {
    --tw-ring-shadow: 0 0 transparent !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0 1000px #ffffff inset !important;
    -webkit-text-fill-color: rgb(75 85 99 / var(--tw-text-opacity));
}

html {
    font-size: 16px;
}

body {
    font-size: 16px;
    background-color: #ffffff;
    background-image: url("/resources/images/pattern/whitePattern.jpg");
    background-size: 384px 190px;
    background-repeat: repeat;


    &.admin{
       @apply bg-white bg-none ;
    }
}

h1, h2, h3, h4, h5, h6{
    @apply font-roboto;
    margin: 0;
    padding: 0;
}

.whitePattern{
    @apply bg-white;
    background-image: url("/resources/images/pattern/whitePattern.jpg");
    background-size: 384px 190px;
    background-repeat: repeat;
}


.redPattern{
    @apply bg-red;
    background-image: url("/resources/images/pattern/redPattern.jpg");
    background-size: 383px 207px;
    background-repeat: repeat;
}

.stroke-text {
    --stroke-width: 5px;
    --color-white: #000000;
    text-shadow: var(--stroke-width) 0 0 var(--color-white),
    calc(var(--stroke-width) * -1) 0 0 var(--color-white),
    0 var(--stroke-width) 0 var(--color-white),
    0 calc(var(--stroke-width) * -1) 0 var(--color-white);
}

.smooth-16 {
    text-shadow: calc(var(--stroke-width) * 1) calc(var(--stroke-width) * 0) 0
    var(--color-white),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * 0.3827) 0
    var(--color-white),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * 0.7071) 0
    var(--color-white),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * 0.9239) 0
    var(--color-white),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * 1) 0
    var(--color-white),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * 0.9239) 0
    var(--color-white),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * 0.7071) 0
    var(--color-white),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * 0.3827) 0
    var(--color-white),
    calc(var(--stroke-width) * -1) calc(var(--stroke-width) * 0) 0
    var(--color-white),
    calc(var(--stroke-width) * -0.9239) calc(var(--stroke-width) * -0.3827) 0
    var(--color-white),
    calc(var(--stroke-width) * -0.7071) calc(var(--stroke-width) * -0.7071) 0
    var(--color-white),
    calc(var(--stroke-width) * -0.3827) calc(var(--stroke-width) * -0.9239) 0
    var(--color-white),
    calc(var(--stroke-width) * 0) calc(var(--stroke-width) * -1) 0
    var(--color-white),
    calc(var(--stroke-width) * 0.3827) calc(var(--stroke-width) * -0.9239) 0
    var(--color-white),
    calc(var(--stroke-width) * 0.7071) calc(var(--stroke-width) * -0.7071) 0
    var(--color-white),
    calc(var(--stroke-width) * 0.9239) calc(var(--stroke-width) * -0.3827) 0
    var(--color-white);
}

/* -------- HEADER -------- */

div#nutella-header {
    z-index: 4;
}

header#duplex-header {
    position: sticky;
    z-index: 3;
    top: 80px;
    left:0px;
    right: 0;
    &.scroll {
        position: sticky;
        //position: -webkit-sticky;
    }

    .wrapper-menu {
        .wrapper-mobile {
            @apply flex justify-center items-center;
        }
        #menu-btn {
            display: block;
            padding: 13px 20px 10px 20px;
            @apply rounded-[8px] bg-red shadow-lg;
        }
        nav {
            display: none;
            &.active {
                display: block;
                position: absolute;
                right: 15px;
                left: 15px;
                margin: 10px auto 0;
                @apply rounded-[20px] bg-white;
                ul.menu-header {
                    @apply rounded-none;
                }
            }
            ul.menu-header {
                list-style: none;
                margin: 0;
                padding: 25px 0;
                box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.2);
                @apply flex justify-center items-start flex-col rounded-[90px];
                li {
                    display: block;
                    padding: 15px 0;
                    position: relative;
                    width: 100%;
                    text-align: center;

                    a {
                        @apply font-nutella font-semibold text-[17px] leading-[21px] uppercase;
                        background-color: transparent;
                        cursor: pointer;
                        &.active {
                            @apply text-yellow;
                        }
                        &:hover {
                            @apply text-yellow;
                        }
                    }
                    &:first-child {
                        border-top: none;
                    }
                }
            }
        }
    }
    @screen md {
        padding-top: 0.75em;
        top: 70px;
        position: sticky;
        //position: -webkit-sticky;
        .wrapper-menu {
            #menu-btn {
                display: none;
            }
            nav {
                display: block;
                text-align: center;

                &.active {
                    display: block;
                    position: unset;
                    right: unset;
                    left: unset;
                    margin: auto;
                    @apply rounded-none shadow-none bg-transparent;
                    ul.menu-header {
                        @apply rounded-[20px];
                    }
                }

                &.active {
                    @apply bg-transparent;
                }
                ul.menu-header {
                    @apply inline-flex justify-center items-center flex-row bg-red;
                    margin: 0 auto;
                    padding: 0;
                    li {
                        display: inline-block;
                        padding: 0 7px;
                        border: none;
                        width: auto;
                        &:first-child {
                            margin-left: 30px;
                        }
                        &:last-child {
                            margin-right: 30px;
                        }
                        a{
                            display: block;
                            padding: 15px 20px 17px;
                            @apply text-[17px] leading-[21px] text-white font-bold no-ligatures;
                        }
                    }
                }
            }
        }
    }
    @screen lg {
        top: 80px;
    }
    @screen xl {
        top: 90px;
        .wrapper-menu {
            //max-width: 970px;
            nav {
                ul.menu-header {
                    li {
                        //margin: 0 15px;
                    }
                }
            }
        }
    }
}
/* -------- HEADER -------- */

/* -------- FOOTER -------- */
footer#duplex{
    p{
        @apply font-montserrat rem:text-[13px] rem:leading-[16px] rem:tracking-[0.15px];
    }
    nav{
        ul {
            @apply flex justify-center items-center flex-col;
            margin: 0;
            padding: 0;
            li {
                display: inline-block;
                margin: 5px 0;
                border: none;
                width: auto;
                text-align: center;
                position: relative;
                a{
                    cursor: pointer;
                }
                &:first-child{
                    margin-left: 0;
                }
                &:last-child{
                    margin-right: 0;
                    a{
                        &:after{
                            display: none;

                        }
                    }
                }
            }
        }
    }
    @screen lg {
        nav {
            ul {
                @apply flex-row;
                li {
                    display: inline-block;
                    margin: 0 10px;
                    a{
                        text-align: center;
                        &:after{
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }
}
/* -------- FOOTER -------- */

.checkbox {
    padding-left: 0;

    .wrapper-checkbox {
        .radio-text {
            cursor: pointer;

        }
        input[type="checkbox"] {
            display: none;
            &+label {
                position: relative;
                margin: 0 10px 0 0;
                padding-left: 0;
                width: auto;
                background-color: transparent;

                &.error {
                    &:before {
                        border: 2px solid theme('colors.error');
                    }
                }

                &:after {
                    display: inline-block;
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    background-color: transparent;
                    content: '';
                    border: 0;

                }
                &:before {
                    content: '';
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    background-color: theme('colors.white');
                    border: 1px solid #BDBDBD;
                    @apply rounded-md;

                }

            }
            &:checked+label {
                &:after {
                    background-color: theme('colors.black');
                }
                &:before {
                    &+label {}
                }
            }
        }

    }
}

.form-error {
    @apply text-red;
}


.radiobutton {
    padding-left: 0;
    &.line{
        .wrapper-radiobutton {
            input[type="radio"] {
                &+label {
                    margin: 0 5px 0 0 ;
                    &:after {
                        width: 8px;
                        height: 8px;

                    }
                    &:before {
                        width: 20px;
                        height: 20px;
                    }
                }
                &:checked+label {
                    &:after {
                        background-color: #000000;
                    }
                }
            }
        }
    }
    .wrapper-radiobutton {
        .radio-text {
            cursor: pointer;

        }
        input[type="radio"] {
            display: none;
            &+label {
                position: relative;
                margin: 6px 10px 0 0;
                padding-left: 0;
                width: auto;
                background-color: transparent;
                &:after {
                    display: inline-block;
                    position: absolute;
                    width: 8px;
                    height: 8px;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    top: 0;
                    margin: auto;
                    background-color: transparent;
                    content: '';
                    border: 0;
                    @apply rounded-full;
                }
                &:before {
                    content: '';
                    display: inline-block;
                    width: 20px;
                    height: 20px;
                    cursor: pointer;
                    background-color: theme('colors.white');
                    border: 2px solid #636366;
                    @apply rounded-full;
                }
            }
            &:checked+label {
                &:after {
                    background-color: #636366;
                }
                &:before {
                    &+label {}
                }
            }
        }

    }
}

/* -------- PATTERNS -------- */
.nPattern::before {
    content: '';
    display: block;
    @apply bg-nPatternReverse;
    background-repeat: repeat-x;
    background-size: 851px 80px;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;

}

.nPattern::after {
    content: '';
    display: block;
    @apply bg-nPattern;
    background-repeat: repeat-x;
    background-size: 851px 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;

}