@font-face {
    font-family: 'Bemio';
    src: url('Bemio.eot');
    src: local('Bemio'),
    url('Bemio.woff2') format('woff2'),
    url('Bemio.woff') format('woff'),
        url('Bemio.ttf') format('truetype'),
        url('Bemio.svg#Bemio') format('svg');
}

@font-face {
    font-family: 'Roboto';
    src: url('Roboto-Regular.eot');
    src: local('Roboto'), local('Roboto-Regular'),
        url('Roboto-Regular.woff2') format('woff2'),
        url('Roboto-Regular.woff') format('woff'),
        url('Roboto-Regular.ttf') format('truetype'),
        url('Roboto-Regular.svg#Roboto-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'RobotoBold';
    src: url('Roboto-Bold.eot');
    src: local('Roboto Bold'), local('Roboto-Bold'),
    url('Roboto-Bold.woff2') format('woff2'),
    url('Roboto-Bold.woff') format('woff'),
        url('Roboto-Bold.ttf') format('truetype'),
        url('Roboto-Bold.svg#Roboto-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Tahoma';
    src: url('Tahoma.eot');
    src: local('Tahoma'),
    url('Tahoma.woff2') format('woff2'),
    url('Tahoma.woff') format('woff'),
        url('Tahoma.ttf') format('truetype'),
        url('Tahoma.svg#Tahoma') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'TahomaBold';
    src: url('Tahoma-Bold.eot');
    src: local('Tahoma Bold'), local('Tahoma-Bold'),
    url('Tahoma-Bold.woff2') format('woff2'),
    url('Tahoma-Bold.woff') format('woff'),
        url('Tahoma-Bold.ttf') format('truetype'),
        url('Tahoma-Bold.svg#Tahoma-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

