@font-face {
    font-family: 'Hermes';
    src: url('Hermes-Black.eot');
    src: url('Hermes-Black.eot?#iefix') format('embedded-opentype'),
        url('Hermes-Black.woff2') format('woff2'),
        url('Hermes-Black.woff') format('woff'),
        url('Hermes-Black.ttf') format('truetype'),
        url('Hermes-Black.svg#Hermes-Black') format('svg');
}

@font-face {
    font-family: 'TekoMedium';
    src: url('Teko-Medium.eot');
    src: url('Teko-Medium.eot?#iefix') format('embedded-opentype'),
        url('Teko-Medium.woff2') format('woff2'),
        url('Teko-Medium.woff') format('woff'),
        url('Teko-Medium.ttf') format('truetype'),
        url('Teko-Medium.svg#Teko-Medium') format('svg');
}

@font-face {
    font-family: 'TekoSemiBold';
    src: url('Teko-SemiBold.eot');
    src: url('Teko-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('Teko-SemiBold.woff2') format('woff2'),
        url('Teko-SemiBold.woff') format('woff'),
        url('Teko-SemiBold.ttf') format('truetype'),
        url('Teko-SemiBold.svg#Teko-SemiBold') format('svg');
}

@font-face {
    font-family: 'TekoRegular';
    src: url('Teko-Regular.eot');
    src: url('Teko-Regular.eot?#iefix') format('embedded-opentype'),
        url('Teko-Regular.woff2') format('woff2'),
        url('Teko-Regular.woff') format('woff'),
        url('Teko-Regular.ttf') format('truetype'),
        url('Teko-Regular.svg#Teko-Regular') format('svg');
}

@font-face {
    font-family: 'Nutella';
    src: url('Nutella.eot');
    src: url('Nutella.eot?#iefix') format('embedded-opentype'),
    url('Nutella.woff2') format('woff2'),
    url('Nutella.woff') format('woff'),
    url('Nutella.ttf') format('truetype'),
    url('Nutella.svg#Nutella') format('svg');
}

